.child{
  border-radius: 15px;
  width: 20%;
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px rgb(29, 192, 51);
  text-align: center;
  background-color: aqua;
}
.parent{
  display: flex;
  justify-content: center;
}

.child img{
  width: 100%;
}
.link
{
  text-decoration: none;
}

.btn{
  text-decoration: none;
  background: green;
  padding: 4%;
  border-radius: 50%;
  display: block;
  color: orange;
  
}
.child2{
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px black;
  text-align: left;
  background: aqua;
  width: 70%;
  height: 100%;
  display: block;
  background: royalblue;
  border-radius: 15px;
}
.child1{
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px orangered;
  text-align: center;
  background: aqua;
  width: 20%;
  display: block;
  background: wheat;
  border-radius: 15px;
}
.skill{
  margin: 0.5%;
  padding: 0.5%;
  color: #000;
  border-radius: 35px;
  background: lime;
  border: 1px solid violet ;
  box-shadow: 0px 8px 8px -8px #000;
}